BODY {color:rgb(14, 129, 223) }

P {color:rgb(178, 2, 231); 
   font-size:20px;
   font-family: 'Press Start 2P', cursive;
   font-weight:bolder;
   font-style:initial;
   line-height:30px;
   letter-spacing:5px;
   text-decoration:none;
   text-transform:initial;
   text-align:left;
   text-indent:30px;
  }

  h2{color: aquamarine;
   font-size:20px;
   font-family: 'Press Start 2P', cursive;
   font-weight:bolder;
   font-style:initial;
   line-height:30px;
   letter-spacing:5px;
   text-decoration:none;
   text-transform:initial;
   text-align:left;
   text-indent:30px;
  }



h1{color: rgb(255, 0, 0);
 font-size:20px;
 font-family: 'Press Start 2P', cursive;
 font-weight:bolder;
 font-style:initial;
 line-height:30px;
 letter-spacing:5px;
 text-decoration:none;
 text-transform:initial;
 text-align:left;
 text-indent:30px;
}
