a
{color:rgb(0, 26, 255); 
 font-size:20px;
 font-family: 'Supermercado One', cursive;
 font-weight:bolder;
 font-style:initial;
 line-height:30px;
 letter-spacing:5px;
 text-decoration:none;
 text-transform:initial;
 text-align:left;
 text-indent:30px;
}